<div ng-app="typeahead" class="container" ng-controller="Ctrl">
  <h1> AngularJS typeahead example </h1>
  <div class="col-md-6">
    <label>Enter country name: (Type minimum 3 characters, ex: Ind)</label>
    <div class="col-md-5">
      <input type="text" ng-model="country" placeholder="Country name" class="form-control col-md-2" ng-keyup="fetchCountries()"/>
    </div>
  </div>
  <div class="col-md-6"></div>
  <table class="table" id="countries-table" >
    <thead>
      <th>No</th>
      <th>Name</th>
      </thead>

    <tr ng-repeat="name in names">
      <td>
        {{ names.indexOf(name)}}
      </td>
      <td>
        {{ name }}
      </td>
      <td>
        <a ng-click="setName(names.indexOf(name))" class="glyphicon glyphicon-pencil"></a>
      </td>
    </tr>
  </table>
</div>
